.load {
  width: 240px;
  height: 240px;
  float: left;
  position: relative;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;
}
.load p {
  position: absolute;
  bottom: 0;
  left: -25%;
  width: 150%;
  white-space: nowrap;
  display: none;
}
.load .loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.load .loader,
.load .loader:before,
.load .loader:after {
  background: #efcc19;
  -webkit-animation: loads 1s infinite ease-in-out;
  animation: loads 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.load .loader:before,
.load .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.load .loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.load .loader:after {
  left: 1.5em;
}
